<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bioinformatics</title>

    <!-- Bootstrap core CSS -->
	<link href="../static/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/datetimepicker.css" />

    <!-- Custom styles for this template -->
    <link href="../static/dashboard.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="../static/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

	
  </head>

  <body>


    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-1 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="../">
                  <!--Dashboard <span class="sr-only">(current)</span>-->
				  Instrument Uptime
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="data">
                  Data
                </a>
              </li>              
            </ul>           
          </div>
        </nav>
		
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Data</h1>
          </div>
		
	
		<form method="post">
			<div class="form-group">	
				<label>Instrument select</label>                          
					<select class="form-control" id="select" name="instrument">	

					  {% for d in instruments %}
					    <option>{{d}}</option>						
					  {% endfor %}  
					</select>
			</div>
			<div class="form-group">
					
				<label>Time select</label>
			<br>
				<label for="from">from</label>
				<input type="text" id="fromdate" name="starttime1">
				<input type="text" id="fromtime" name="starttime2">
				<label for="to">to</label>
				<input type="text" id="todate" name="endtime1">
				<input type="text" id="totime" name="endtime2">
			</br>
					<script type="text/javascript">
						$("#fromdate").datetimepicker({
							format: "yyyy-mm-dd",
							autoclose: true,
							todayBtn: true,
							pickerPosition: "bottom-left",
							minView: "month"
						});

						$("#todate").datetimepicker({
							format: "yyyy-mm-dd",
							autoclose: true,
							todayBtn: true,
							pickerPosition: "bottom-left",
							minView: "month"
						});
						
						$("#fromtime").datetimepicker({
							format: "hh:ii",
							autoclose: true,
							todayBtn: true,
							pickerPosition: "bottom-left",
							startView:1,
							minuteStep:1
						});

						$("#totime").datetimepicker({
							format: "hh:ii",
							autoclose: true,
							todayBtn: true,
							pickerPosition: "bottom-left",
							startView:1,
							minuteStep:1
						});
						

					</script>					
			</div>			
			<button type="submit" class="btn btn-primary">Search</button>
			<input type= "hidden" name = "form" value="data">
		</form>
		<form method="post">
			<button type="submit" class="btn btn-primary">show all</button>
			<input type= "hidden" name = "form" value="all">
		</form>
	
			{% for d in info_instrument %}
			<br>
			<select id="{{d['id']}}" name = "multiselect{{d['id']}}" multiple="multiple">
				<option value = "" selected disabled hidden>{{d['name']}}</option>
				{% for i in samples[d['name']] %}
				<option value = "{{i['EIC']}}">{{i['EIC']}}</option>
				{% endfor %}
			</select>			
			<button onclick = getGraph("multiselect{{d['id']}}","{{d['name']}}")>Show</button>
	
			</br>
				<script type="text/javascript">
					$(document).ready(function() {
						$('#{{d['id']}}').multiselect({
							buttonWidth: '800px'
						});
					});
				</script>
				<style type="text/css">
					.multiselect-container {
						width: 100% !important;
					}
				</style>
			{% endfor %}
			<script>
			function getGraph(Id,name){
				var data=document.getElementsByName(Id)[0];	
				var samples = jQuery.parseJSON('{{ samples1|safe }}');  
				var graph_data=new Array();
				for(i=1; i < data.length; i++){
					if(data.options[i].selected){
						var a = String(data.options[i].value);
						var x1 = samples[name][a].split(',,')[0].split(',');
						var y1 = samples[name][a].split(',,')[1].split(',');
						var b = i
						b = {	x: x1,
								y: y1,
								mode:'lines'};
						
						graph_data.push(b);
						
					};
				};
				Plotly.newPlot('graph1',graph_data);				
				
			}
			</script>
			<div id = 'graph1' ></div>
			<div id = 'graph' style='float:left;'></div>
			
			
			
		 
		


        </main>
      </div>
    </div>
  </body>
</html>
