<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Bioinformatics</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="../static/datetimepicker.css" />
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="../static/bootstrap-datetimepicker.js"></script>
	<style>
	hr { 
		display: block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
	} 
	</style>
  </head>

  <body>


    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-1 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="../">
                  <!--Dashboard <span class="sr-only">(current)</span>-->
				  Instrument Uptime
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="data">
                  Data
                </a>
              </li>
              
            </ul>

           
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Summary of instruments</h1>
          </div>
		  
		  <form method="post">
			<div class="form-group">	
				<label>Instrument select</label>                          
					<fieldset>
					  {% for d in instruments %}
					  <div>
						<input type="checkbox" id="{{d}}" name="instrument" value = "{{d}}">
						<label for="coding">instrument {{d}}</label>
					  </div>
					  {% endfor %}  
						  
					</fieldset>
			</div>
			<div class="form-group">
					
				<label>Time select</label>
			<br>
				<label for="from">from</label>
				<input type="text" id="fromdate" name="starttime">
				<label for="to">to</label>
				<input type="text" id="todate" name="endtime">
			</br>
					<script type="text/javascript">
						$("#fromdate").datetimepicker({
							format: "yyyy-mm-dd",
							autoclose: true,
							todayBtn: true,
							pickerPosition: "bottom-left",
							minView: "month"
						});

						$("#todate").datetimepicker({
							format: "yyyy-mm-dd",
							autoclose: true,
							todayBtn: true,
							pickerPosition: "bottom-left",
							minView: "month"
						});
					</script>					
			</div>			
			<button type="submit" class="btn btn-primary">Search</button>
			<input type= "hidden" name = "form" value="summary">
		  </form>
				{% for d in inst %}
				<div class="container-fluid" >
					<div id='pie{{d}}' style="height: 400px; float: left" )></div>
						<div style = "height: 400px")>
							<br>{{smry_instruments[d]['count']}}  samples</br>
							<br>{{smry_instruments[d]['hours']}}  hours</br>
							<br>{{smry_instruments[d]['ratio']}}%  running time</br>
						</div>
					<div id='line{{d}}' style="height: 400px" )></div>
					<hr>
				</div> 
				<script>
					var chart = Highcharts.chart('line{{d}}', {
						chart: {
							zoomType: 'x'
						},
						title: {
							text: 'Instrument Running'
						},
						xAxis: {
							type: 'datetime',
							dateTimeLabelFormats: {
								
								second: '%H:%M:%S',
								minute: '%H:%M',
								hour: '%H:%M',
								day: '%m-%d',
								week: '%m-%d',
								month: '%Y-%m',
								year: '%Y'
							}
						},
						tooltip: {
							dateTimeLabelFormats: {
								
								second: '%H:%M:%S',
								minute: '%H:%M',
								hour: '%H:%M',
								day: '%Y-%m-%d',
								week: '%m-%d',
								month: '%Y-%m',
								year: '%Y'
							}
						},
						yAxis: {
							title: {
								text: '1:running'
							}
						},
						time: {
							timezoneOffset: -10 * 60
						},
						
						series: [{            
							name: 'instrument {{d}}',
							step: true,
							data: {{smry_instruments[d]['data']}}
						}]
					});

				</script>
				<script>

				var	chart = Highcharts.chart('pie{{d}}', {
					chart: {
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false,
						type: 'pie'
					},
					title: {
						text: 'information of instrument {{d}}'
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								format: '<b>{point.name}</b>: {point.percentage:.1f} %',
								style: {
									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
								}
							}
						}
					},
					series: [{
						name: 'Percentage',
						colorByPoint: true,
						data: [{
							name: 'rest time',
							y: {{smry_instruments[d]['rest_ratio']}}         
						}, {
							name: 'running time',
							y: {{smry_instruments[d]['ratio']}}
						}]
					}]
				})
				</script>
				{% endfor %} 
		  

        </main>
      </div>
    </div>
  </body>
</html>
