<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Bioinformatics</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>

	
  </head>

  <body>


    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="../">
                  <!--Dashboard <span class="sr-only">(current)</span>-->
				  Data
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="summary">
                  Summary
                </a>
              </li>
              
            </ul>

           
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Summary of instruments</h1>
          </div>
 
				{% for d in instruments %}
				<div class="container-fluid" >
					<div id='pie{{d}}' style="height: 400px; float: left" )></div>
						<div style = "height: 400px")>
							<br>{{smry_instruments[d]['count']}}  samples</br>
							<br>{{smry_instruments[d]['hours']}}  hours</br>
							<br>{{smry_instruments[d]['ratio']}}%  running time</br>
						</div>
					<div id='line{{d}}' style="height: 400px" )></div>
				</div> 
				<script>
					var chart = Highcharts.chart('line{{d}}', {
						chart: {
							zoomType: 'x'
						},
						title: {
							text: 'Instrument Running'
						},
						xAxis: {
							type: 'datetime',
							dateTimeLabelFormats: {
								
								second: '%H:%M:%S',
								minute: '%H:%M',
								hour: '%H:%M',
								day: '%m-%d',
								week: '%m-%d',
								month: '%Y-%m',
								year: '%Y'
							}
						},
						tooltip: {
							dateTimeLabelFormats: {
								
								second: '%H:%M:%S',
								minute: '%H:%M',
								hour: '%H:%M',
								day: '%Y-%m-%d',
								week: '%m-%d',
								month: '%Y-%m',
								year: '%Y'
							}
						},
						yAxis: {
							title: {
								text: '1:running'
							}
						},
						time: {
							timezoneOffset: -10 * 60
						},
						
						series: [{            
							name: 'instrument {{d}}',
							step: true,
							data: {{smry_instruments[d]['data']}}
						}]
					});

				</script>
				<script>

				var	chart = Highcharts.chart('pie{{d}}', {
					chart: {
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false,
						type: 'pie'
					},
					title: {
						text: 'information of instrument {{d}}'
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								format: '<b>{point.name}</b>: {point.percentage:.1f} %',
								style: {
									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
								}
							}
						}
					},
					series: [{
						name: 'Percentage',
						colorByPoint: true,
						data: [{
							name: 'rest time',
							y: {{smry_instruments[d]['rest_ratio']}},            
						}, {
							name: 'running time',
							y: {{smry_instruments[d]['ratio']}}
						}]
					}]
				})
				</script>
				{% endfor %} 
		  
		  
        </main>
      </div>
    </div>
  </body>
</html>
